

@model WebsiteBuilder.ViewModels.WebsiteViewModel

@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<!doctype html>
<html lang="en">

<head>
    <!-- main demo -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model._Seo.SeoTitle</title>
    <meta name="description" content="@Model._Seo.MetaDescription">
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="@Model._Seo.canonicalUrl" />
    <meta charset="utf-8">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Model._Seo.OgTitle" />
    <meta property="og:description" content="@Model._Seo.OgDescription" />
    <meta property="og:url" content="@Model._Seo.OgUrl" />
    <meta property="og:site_name" content="@Model._Seo.SiteName" />
    <meta property="article:modified_time" content="2024-02-15T04:58:08+00:00" />
    <meta property="og:image" content="@Model._Seo.OgImageUrl" />
    <meta property="og:image:width" content="1600" />
    <meta property="og:image:height" content="900" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="@Model._Seo.TwitterImageUrl" />


    <!-- Open Graph Meta Tags for Facebook -->
      @Html.Raw(Model._Seo.MetaTagsForFacebook)
    <!-- Open Graph Meta Tags for Instagram -->
     @Html.Raw(Model._Seo.MetaTagsForInstagram)

    <meta name="author" content="@Model._Seo.authorname">



    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/Theme/css/bootstrap.min.css">

    <!-- Materialdesign css -->
    <link rel="stylesheet" href="~/Theme/css/materialdesignicons.min.css">

    <link rel="stylesheet" href="~/Theme/css/mobiriseicons.css">

    <!-- Magnific-popup -->
    <link rel="stylesheet" href="~/Theme/css/magnific-popup.css">

    <!--Slider-->
    <link rel="stylesheet" href="~/Theme/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/Theme/css/owl.theme.css" />
    <link rel="stylesheet" href="~/Theme/css/owl.transitions.css" />

    <!-- Custom styles for this template -->
    <link href="~/Theme/css/menu.css" rel="stylesheet">
    <link href="~/Theme/css/style.css" rel="stylesheet">

    <!--Template Color-->
    <link href="~/Theme/css/colors/default.css" rel="stylesheet" id="color-opt">

    <style>
        .counter {
            background-color: #f5f5f5;
            padding: 20px 0;
            border-radius: 5px;
        }

        .count-title {
            font-size: 40px;
            font-weight: normal;
            margin-top: 10px;
            margin-bottom: 0;
            text-align: center;
        }

        .count-text {
            font-size: 13px;
            font-weight: normal;
            margin-top: 10px;
            margin-bottom: 0;
            text-align: center;
        }

        .fa-2x {
            margin: 0 auto;
            float: none;
            display: table;
            color: #4ad1e5;
        }

        .darkheader {
            background-color: @Model._customization.ThemeColor !important;
        }
        #topnav .navigation-menu > li > a{
            color:#fff !important;
        }
        #topnav .has-submenu.active .submenu li.active > a, #navigation li.active a, .text-custom, .filter-list a.active, .filter-list a:hover, .testimonial .quote .quote-mark, .team-post, .pricing-box .lable .best, .blog .blog-meta a, .blog-more{
              color: @Model._customization.ThemeColor !important;
        }
        #topnav .navbar-toggle.open span:hover, .bg-custom, .btn-custom, .about-title-border{
            background-color: @Model._customization.ThemeColor !important;
        }
        .btn-custom {
            border: 2px solid @Model._customization.ThemeColor !important;
        }
        .heading{
            color: @Model._customization.ThemeColor !important;
        }
        .counter{
            background-color:@Model._customization.ThemeColor !important;
            color:#fff;
        }
        .bg-footer {
            background-color: @Model._customization.ThemeColor !important;
        }
        .footer-icons li a {
            color:@Model._customization.SecondryBgColor !important;
        }
    </style>

</head>

<body>

    <header id="topnav" class="defaultscroll fixed-top sticky">
        <div class="container">
            <!-- Logo container-->
            <div>
                <a href="#" class="logo text-uppercase">
                    <img src="@Model._website.LogoImage" style="max-width:250px; max-height:70px;" />
                </a>
            </div>
            <!-- End Logo container-->
            <div class="menu-extras">
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <li class="active">
                        <a href="#home">Home</a>
                    </li>
                    <li class="">
                        <a href="#about">About</a>
                    </li>
                    <li class="">
                        <a href="#service">Services</a>
                    </li>
                    <li class="">
                        <a href="#work">Work</a>
                    </li>
                    <li class="">
                        <a href="#client">Client</a>
                    </li>
                    <li class="">
                        <a href="#team">Team</a>
                    </li>
                    <li class="">
                        <a href="#blog">Blog</a>
                    </li>
                    <li class="">
                        <a href="#pricing">Pricing</a>
                    </li>
                    <li class="">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <!-- End navigation menu-->
            </div>
        </div>
    </header>

    <section class="home-section" id="home">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">


                @foreach (var websiteslider in Model._sliders)
                {
                    <div class="carousel-item @(websiteslider == Model._sliders.First() ? "active" : "")" style="background-image: url('@websiteslider.SliderImage');">
                        <div class="bg-overlay"></div>
                        <div class="home-center">
                            <div class="home-desc-center">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-md-12 text-center">
                                            <h1 class="home-title font-weight-normal text-white">@websiteslider.SliderTitle</h1>
                                            <p class="mt-3 home-sub-title text-white mx-auto"> @websiteslider.SliderShortDescription</p>
                                            <div class="watch-video pt-4 mt-1">

                                                <a href="@websiteslider.BtnLink" class="btn btn-custom btn-rounded mt-2">@websiteslider.BtnText</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="mbri-arrow-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="mbri-arrow-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    @if (Model._Aboutus != null)
    {
        <!-- START ABOUT -->
        <section class="section" id="about">
            <div class="container">
                <div class="row ">
                    <div class="col-md-5 mt-4">
                        <img src="@Model._Aboutus.AboutImage" class="img-fluid">
                    </div>
                    <div class="col-md-7 text-center">
                        <h3>About<b class="heading">Us</b> </h3>

                        <div class="about-heading heading">
                            <h4>@Model._Aboutus.AboutName</h4>
                        </div>
                        <p>
                            @Model._Aboutus.AboutShortDesc
                        </p>
                    </div>

                </div>





            </div>
            <!-- End container -->
        </section>
        <!-- END ABOUT -->
    }

    @if (Model._whyChooseUs != null)
    {
        <section class="section text-center" id="whychooseus">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <h3> Why <b class="heading">Choose</b></h3>
                        <p class="text-muted title-subtitle pt-4">Pellentesque habitant morbi tristique senectus malesuada fames turpis egestas duis dignissim finibus commodo nibh malesuada sollis diam.</p>
                    </div>
                </div>

                <div class="row pt-4">

                    @foreach (var wchooseus in Model._whyChooseUs)
                    {
                        <div class="col-md-4">
                            <div class="team-box mt-4">
                                <div class="team-member pb-5 text-center pt-5">
                                    <img src="@wchooseus.Photo" alt="team_member" class="img-fluid mx-auto d-block">
                                </div>
                                <div class="team-info">
                                    <h5 class="font-weight-light pb-3">@wchooseus.Title</h5>

                                </div>

                            </div>
                        </div>
                    }




                </div>
            </div>
        </section>
    }


    <!-- START SERVICES -->

    @if (Model._Service != null)
    {
        <section class="section bg-light" id="service">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <h3>Our <b class="heading">Services</b></h3>
                        <p class="text-muted title-subtitle pt-4">Pellentesque habitant morbi tristique senectus malesuada fames turpis egestas duis dignissim finibus commodo nibh malesuada sollis diam.</p>
                    </div>
                </div>

                <div class="row pt-4">
                    @foreach (var service in Model._Service)
                    {
                        <div class="col-lg-4 ">
                            <div class="service-box clearfix p-4 border-round img-shadow mt-4">
                                <img src="@service.ServiceImage" class="img-fluid pb-4">
                                <div class="service-desc service-left">
                                    <h4 class="pb-3">@service.ServiceName</h4>
                                    <p class="text-muted mb-4">@service.ServiceShortDesc</p>
                                    <a href="@service.ServiceUrl" target="_blank" class="mb-0">Know More</a>
                                </div>
                            </div>
                        </div>
                    }



                </div>


            </div>
        </section>
    }

    <!-- END SERVICES -->
    <!-- START FUN-FACTS -->
    @if (Model._GetAppointment != null)
    {
        <section class="bg-desc pt-5 pb-5">
            <div class="bg-overlay-graduint"></div>
            <div class="container">


                <div class="row justify-content-center" id="counter">
                    <div class="col-md-12 text-center pt-3 pb-3 digit-counter">
                        
                        <h3> Get <b class="heading">Appointment</b></h3>

                        <h5 class="counter-name font-weight-normal text-white">
                            @Model._GetAppointment.Subtitle
                        </h5>


                        <a href="tel:@Model._GetAppointment.BtnNumber" class="btn btn-primary" style="border-radius: 30px;">@Model._GetAppointment.ButtonText</a>
                    </div>



                </div>
            </div>
        </section>
    }

    <!-- END FUN-FACTS -->
    <!--Book Appointments-->
    <section class="section" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h3>Get <b class="heading">Appointments</b></h3>
                   
                </div>
            </div>
            <div class="row ">
                <div class="col-md-5 mt-4">
                    <img src="https://oceanspa.co.in/sitepad-data/uploads/2024/01/2.png" class="img-fluid">
                </div>
                <div class="col-md-7">



                    <div class="container-form" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;padding:20px;">
                        <form method="post" name="contact-from" id="contact-from">
                            <div class="row">
                                <div class="col-md-4 mt-4">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input name="name" id="name" type="text" class="form-control" placeholder="Your Name" required="">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input name="email" id="email" type="email" class="form-control" placeholder="Your Email" required="">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="subject">Phone</label>
                                        <input type="number" name="subject" class="form-control" id="subject" placeholder="Your Number" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name">Service</label>
                                        <input name="service" id="service" type="text" class="form-control" placeholder="Service Name" required="">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email">Date</label>
                                        <input name="date" id="date" type="date" class="form-control" placeholder="Your Email" required="">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="subject">Time</label>
                                        <input type="time" name="time" id="time" class="form-control" id="subject" placeholder="Your Subject" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mt-2">
                                        <label for="comments">Message</label>
                                        <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <button type="button" id="sendWhatsapp" class="submitBtn btn btn-custom btn-rounded">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>





        </div>
        <!-- End container -->
    </section>
    <!--End Appointment-->
    <!-- START Counter -->
    <section class="section bg-light">
        <div class="container">
            
            <div class="row text-center">

                @if (Model._Counter != null)
                {

                    @foreach (var counter in Model._Counter.Take(4))
                    {
                        <div class="col">
                            <div class="counter">
                                <i class="fa fa-code fa-2x"></i>
                                <h2 class="timer count-title count-number" data-to="@counter.StartNumber" data-speed="@counter.EndNumber"></h2>
                                <p class="count-text h5 ">@counter.Title</p>
                            </div>
                        </div>
                    }

                }


            </div>
        </div>
    </section>
    <!-- END CLIENT -->
    <!-- START WORK -->
    <section class="section text-center" id="work">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h3>Our <b class="heading">Work</b></h3>
                    <p class="text-muted title-subtitle pt-4">Pellentesque habitant morbi tristique senectus malesuada fames turpis egestas duis dignissim finibus commodo nibh malesuada sollis diam.</p>
                </div>
            </div>


            <div class="row pt-4 projects-wrapper">

                @foreach (var images in Model._website.Images.OrderBy(o => o.Order))
                {
                    <div class="col-md-4">
                        <div class="item-img mt-4">
                            <img src="@images.Img" alt="image" class="img-fluid">
                            <div class="item-img-overlay">
                                <a href="@images.Img" class="mfp-image">
                                    <span><i class="mdi mdi-magnify"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                }



            </div>
        </div>
    </section>
    <!-- END WORK -->
    <!-- START TESTIMONIAL -->
    <section class="section bg-testi" style="margin-top: 200px;" id="client">
        <div class="bg-overlay-graduint"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div id="owl-demo" class="owl-carousel">


                        @if (Model._Testimonial != null)
                        {
                            @foreach (var feedback in Model._Testimonial)
                            {
                                <div class="text-center text-light">
                                    <div class="review-box">
                                        <div class="review-icons">
                                            <img src="@feedback.Photo" alt="">
                                        </div>
                                        <p class="user-review text-center mt-4">"@feedback.Description"</p>
                                        <p class="testi-user-name font-weight-bold mb-2 mt-4">@feedback.Fullname</p>
                                        <p class="testi-user-position">@feedback.Designation</p>
                                        <div class="testi-icon mb-3 mt-4">
                                            <i class="mbri-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                            }
                        }






                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END TESTIMONIAL -->
    <!-- START CONTACT -->
    <section class="section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h3> Contact <b class="heading"> us</b></h3>
                    <p class="text-muted title-subtitle pt-4">Pellentesque habitant morbi tristique senectus malesuada fames turpis egestas duis dignissim finibus commodo nibh malesuada sollis diam.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mt-4 pt-4">
                    <div id="message"></div>
                    <form method="post" name="contact-form" id="contact-form">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input name="name" id="name" type="text" class="form-control" placeholder="Your Name" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input name="email" id="email" type="email" class="form-control" placeholder="Your Email" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="subject">Subject</label>
                                    <input type="text" class="form-control" id="subject" placeholder="Your Subject" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mt-2">
                                    <label for="comments">Message</label>
                                    <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right">

                            </div>
                        </div>
                    </form>
                    <!-- /form -->
                </div>
                <!-- end col-md-12 -->
            </div>
            <!-- end row -->
        </div>
    </section>
    <!-- END CONTACT -->
    <!-- START FOOTER -->
    <footer class="bg-footer">
        <div class="container">
            <div class="row  justify-content-center text-center">
                <div class="col-lg-12">
                    <div class="text-white">

                        <h3 class="mb-4 footer-list-title f-17 text-white text-center">

                            <img src="@Model._website.LogoImage" />

                        </h3>
                        <address>
                            @Model._website.FullAddress
                        </address>
                        <div class="phone p-3">Phone:  <a href="tel:@Model._website.CallingNumber" class="h5">@Model._website.CallingNumber</a></div>
                        <div class="phone p-3"> WhatsApp:  <a href="tel:@Model._website.WhatsappNumber" class="h5">@Model._website.WhatsappNumber</a></div>
                        <ul class="footer-icons list-inline mb-4">
                            <li class="list-inline-item"><a href="@Model._website.facebook" class=""><i class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="@Model._website.Twitter" class=""><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="@Model._website.Instagram" class=""><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="@Model._website.Linkdin" class=""><i class="mdi mdi-linkedin"></i></a></li>
                        </ul>
                        <p class="copyright mt-3">@DateTime.Now.Year © @Model._website.Title All Rights Reserved</p>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
    <!-- START FOOTER -->
    <!-- END FOOTER -->
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Theme/js/jquery.min.js"></script>
    <script src="~/Theme/js/popper.min.js"></script>
    <script src="~/Theme/js/bootstrap.min.js"></script>
    <script src="~/Theme/js/jquery.easing.min.js"></script>
    <script src="~/Theme/js/owl.carousel.min.js"></script>
    <script src="~/Theme/js/scrollspy.min.js"></script>
    <script src="~/Theme/js/counter.init.js"></script>
    <script src="~/Theme/js/contact-form.init.js"></script>

    <!--START IOSTOP-->
    <script src="~/Theme/js/isotope.js"></script>
    <script src="~/Theme/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Theme/js/masonry.pkgd.min.js"></script>

    <!-- Magnific Popup -->
    <script src="~/Theme/js/jquery.magnific-popup.min.js"></script>

    <!-- Jquery.app -->
    <script src="~/Theme/js/jquery.app.js"></script>
    <script>
        $(document).ready(function () {
            debugger;
            $('#sendWhatsapp').click(function () {
                // Get form data
                var name = $('#name').val();
                var email = $('#email').val();
                var phone = $('#subject').val();
                var service = $('#service').val();
                var date = $('#date').val();
                var time = $('#time').val();
                var message = $('#comments').val();

                // WhatsApp number and message template
                var whatsappNumber = '7678078043';
                // var whatsappMessage = "Name: " + name + "\n" +
                //                       "Email: " + email + "\n" +
                //                       "Phone: " + phone + "\n" +
                //                       "Service: " + service + "\n" +
                //                       "Date: " + date + "\n" +
                //                       "Time: " + time + "\n" +
                //                       "Message: " + message;
                var whatsappMessage = "*Appointment Booking Request*\n\n" +
                    "*Name:* " + name + "\n" +
                    "*Email:* " + email + "\n" +
                    "*Phone:* " + phone + "\n" +
                    "*Service:* " + service + "\n" +
                    "*Date:*" + date + "\n" +
                    "*Time:*" + time + "\n" +
                    "*Message:*" + message;

                // Encode message for URL
                var encodedMessage = encodeURIComponent(whatsappMessage);

                // Construct the WhatsApp URL
                var whatsappUrl = 'https://wa.me/' + whatsappNumber + '?text=' + encodedMessage;

                // Redirect to WhatsApp
                window.location.href = whatsappUrl;
            });
        });
    </script>


    <script>
        (function ($) {
            $.fn.countTo = function (options) {
                options = options || {};

                return $(this).each(function () {
                    // set options for current element
                    var settings = $.extend({}, $.fn.countTo.defaults, {
                        from: $(this).data('from'),
                        to: $(this).data('to'),
                        speed: $(this).data('speed'),
                        refreshInterval: $(this).data('refresh-interval'),
                        decimals: $(this).data('decimals')
                    }, options);

                    // how many times to update the value, and how much to increment the value on each update
                    var loops = Math.ceil(settings.speed / settings.refreshInterval),
                        increment = (settings.to - settings.from) / loops;

                    // references & variables that will change with each update
                    var self = this,
                        $self = $(this),
                        loopCount = 0,
                        value = settings.from,
                        data = $self.data('countTo') || {};

                    $self.data('countTo', data);

                    // if an existing interval can be found, clear it first
                    if (data.interval) {
                        clearInterval(data.interval);
                    }
                    data.interval = setInterval(updateTimer, settings.refreshInterval);

                    // initialize the element with the starting value
                    render(value);

                    function updateTimer() {
                        value += increment;
                        loopCount++;

                        render(value);

                        if (typeof (settings.onUpdate) == 'function') {
                            settings.onUpdate.call(self, value);
                        }

                        if (loopCount >= loops) {
                            // remove the interval
                            $self.removeData('countTo');
                            clearInterval(data.interval);
                            value = settings.to;

                            if (typeof (settings.onComplete) == 'function') {
                                settings.onComplete.call(self, value);
                            }
                        }
                    }

                    function render(value) {
                        var formattedValue = settings.formatter.call(self, value, settings);
                        $self.html(formattedValue);
                    }
                });
            };

            $.fn.countTo.defaults = {
                from: 0,               // the number the element should start at
                to: 0,                 // the number the element should end at
                speed: 1000,           // how long it should take to count between the target numbers
                refreshInterval: 100,  // how often the element should be updated
                decimals: 0,           // the number of decimal places to show
                formatter: formatter,  // handler for formatting the value before rendering
                onUpdate: null,        // callback method for every time the element is updated
                onComplete: null       // callback method for when the element finishes updating
            };

            function formatter(value, settings) {
                return value.toFixed(settings.decimals);
            }
        }(jQuery));

        jQuery(function ($) {
            // custom formatting example
            $('.count-number').data('countToOptions', {
                formatter: function (value, options) {
                    return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                }
            });

            // start all the timers
            $('.timer').each(count);

            function count(options) {
                var $this = $(this);
                options = $.extend({}, options || {}, $this.data('countToOptions') || {});
                $this.countTo(options);
            }
        });
    </script>
    <script>
        window.addEventListener('scroll', function () {
            var content = document.getElementById('topnav');
            // Add your scroll position threshold here
            if (window.scrollY > 100) { // Change 100 to whatever scroll position you desire
                content.classList.add('darkheader');
            } else {
                content.classList.remove('darkheader');
            }
        });
    </script>
</body>

</html>